<% layout('layouts/boilerplate')%>

<%
function makeYMD(date){
  console.log('date!')
  console.log(date)
const newDate = {d:date.getUTCDate(), m : date.getUTCMonth()+1,// JavaScript months are 0-11
y : date.getUTCFullYear()};
return  newDate.y+ "-" + ((newDate.m.toString().length>1)?newDate.m:"0"+newDate.m)+ "-" + ((newDate.d.toString().length>1)?newDate.d:"0"+newDate.d);
}
function makeHour(date){
  const newDate = {d:date.getUTCDate(), m : date.getUTCMonth()+1,// JavaScript months are 0-11
  y : date.getUTCFullYear(),h:date.getUTCHours(), min:(((""+date.getUTCMinutes()).length>1)?date.getUTCMinutes():"0"+date.getUTCMinutes())};
  return  (newDate.h+":"+newDate.min);
}
function convertUTCDateToLocalDate(date) {
    invdate = new Date(`${new Date(date).toLocaleString('en-US', { timeZone: 'America/Mexico_City' })} GMT`)
    // and the diff is 5 hours
    var diff = date.getTime() - invdate.getTime();
    // so 12:00 in Toronto is 17:00 UTC
    return new Date(date.getTime() - diff); // needs to substract
 }

 function getMexicoCityTime() {
  const now = new Date();
  const mexicoCityOffset = -6 * 60; // Mexico City is UTC-6
  const mexicoCityTime = new Date(now.getTime() + mexicoCityOffset * 60 * 1000);
  return mexicoCityTime;
}
function numberCommas(x) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

const now = getMexicoCityTime(); // Get current time in Mexico City
const monthBefore = new Date(now.getFullYear(), now.getMonth() - 1, now.getDate()); // Subtract one month


// patients.sort((a, b) => (a.discharged) ? 1 : -1)
%>
<div class="container">   
    <div class="container">
        <div class="row">
          <div class="col d-flex text-center flex-column justify-content-between"> 
            <lottie-player src="/lotties/dino_clinic.json" onclick="myFunction()" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop  autoplay></lottie-player>
          </div>
          <div class="col d-flex text-center flex-column justify-content-between"> 
            <div></div>
            <div class = ' d-flex justify-content-center align-items-center mb-4 mt-4'>
              <div class="pop-up-container "><h5 class="display-3 font-weight-bold text-center" style="font-family: Helvetica, Arial, sans-serif; color: #4A4A4A; text-transform: uppercase; letter-spacing: 2px;  font-size: 40px">PACIENTES</h5> </div>
              </div>
            <!-- <h1 class= "display-3 font-weight-bold text-center">Pacientes</h1> -->
            <div></div>

            </div>
          <div class="col d-flex  text-center flex-column justify-content-between">
            <!-- <div class="row justify-content-around mb-4"> -->
                    <div></div>
                    <%if(currentUser.role == 'medico' || currentUser.role == 'caja' ){ %>
                      <div class="mr- ml-5 pb-3">
                        <form action="/patients/newConsultation?_method=POST" method="POST" novalidate class="validated-form">

                        <div class="col-9 mx-auto pb-3">
                          <div class="form-group">
                            <label for="input-field" class="text-muted font-weight-bold mb-2">Nombre del paciente:</label>
                            <input type="text" class="form-control" id="patientName" name="patientName" value =''>
                         </div>
                        </div>
                        
                          <button class="btn btn-info">
                              <div class="col">
                                  <div class="row d-flex text-center flex-row justify-content-between"> 
                                      <lottie-player src="/lotties/register.json" background="transparent"  speed="1"  style="width: 200px; height: 100px;" loop  autoplay></lottie-player>
                                  </div>
                                  <div class="row ml-3 d-flex text-center flex-row justify-content-between"> 
                                      Nueva Consulta
                                  </div>
                                  <!-- <div class="col d-flex text-center flex-column justify-content-between">
                                  </div> -->
                              </div>
                            </button> 
                      </form>
                      </div>
                    <%}else{
                      if(currentUser.role == 'caja'){ %>
                        <div class="mr- ml-5 pt-3 pb-3">
                            <a class="btn btn-info " href="/patients/newPharmacySale">
                                <div class="col">
                                    <div class="row d-flex text-center flex-row justify-content-between"> 
                                        <lottie-player src="/lotties/register.json" background="transparent"  speed="1"  style="width: 200px; height: 100px;" loop  autoplay></lottie-player>
                                    </div>
                                    <div class="row ml-3 d-flex text-center flex-row justify-content-between"> 
                                        Nueva Venta
                                    </div>
                                    <!-- <div class="col d-flex text-center flex-column justify-content-between">
                                    </div> -->
                                </div>
                            </a> 
                        </div>
                      <%}else{%>
                      <div class="mr- ml-5 pb-3">
                          <a class="btn btn-info " href="/patients/new">
                              <div class="col">
                                  <div class="row d-flex text-center flex-row justify-content-between"> 
                                      <lottie-player src="/lotties/register.json" background="transparent"  speed="1"  style="width: 200px; height: 100px;" loop  autoplay></lottie-player>
                                  </div>
                                  <div class="row ml-3 d-flex text-center flex-row justify-content-between"> 
                                      Registrar Paciente
                                  </div>
                                  <!-- <div class="col d-flex text-center flex-column justify-content-between">
                                  </div> -->
                              </div>
                          </a> 
                      </div>
                    <%}
                  }%>

                    <select class="btn btn-outline-success custom-select custom-select-lg pt-3 mb-3" >
                        <option selected>Ordenar por:</option>
                        <option id= "byName" value="name">Nombre</option>
                        <option id= "byDoctor" value="doctor">Medico Tratante</option>
                        <option id= "byDisease" value="disease">Padecimiento</option>
                    </select>
                    <div></div>
            <!-- </div> -->
          </div>
          <!-- <div class="col d-flex mt-4 flex-column justify-content-between">
            <button type="button" class="float-left btn btn-success btn-sm apply_dates">Aplicar fechas</button>
          </div> -->
        </div>
    </div>
    
    <!-- <img src="/imgs/pacientes.png" class = "image_print" alt="clinica"> -->
    <div class = "container mb-4">
        <div class = "row offset-sm-2 justify-content-md-center">
            <div class="col col-lg-10">
                <div class = "btn-group mr-2" id = "search_group">
                <input class="input-group-text mr-2" id = "search_val" type="text" name="search" placeholder="Buscar" aria-label="Search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="patients row scrollDiv mt-4">
    <%for (let patient of patients){
      if(((patient.author.role != 'caja')|| ((currentUser.role== 'caja')||(currentUser.role== 'directAdmin')))&& ((patient.author.role != 'medico')||((currentUser.role== 'medico')||(currentUser.role== 'caja')||(currentUser.role== 'directAdmin')))){%>

        <div class="col-md-6">
            <%
              let borderColor = (patient.discharged)?"#7f8a88":patient.author.color%>
            <div class="card index_card_p mb-4 border border-<%=borderColor%>" style="border-color:<%=borderColor%> !important;">
                <div class="row">
                    <div class="container">
                        <div class="col-md-16">
                            <% const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };%>
                            <div class="card-body">
                                <div class="row justify-content-between">
                                  
                                    <div class="col-7">
                                        <h3 class="card-title"><%= patient.name %> </h3>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-2">
                                    <%if(patient.cuarto){%>
                                        <h3 class="card-title border border-<%=borderColor%> rounded-circle p-3 float-right"  style="border-color:<%=borderColor%> !important;"><%= patient.cuarto %> </h3>
                                    <%}%>
                                    </div>
                                  </div>
                                  <!-- <h4 class="card-title text-muted">Fecha de ingreso: <%= patient.admissionDate.toLocaleString('en-US', { timeZone: 'America/Mexico_City' }) %> </h4> -->

                                <h4 class="card-title text-muted">Fecha de ingreso: <%= patient.admissionDate.toLocaleDateString('es-US', options)+" a las "+makeHour(patient.admissionDate) %>  </h4>
                                <%if(patient.discharged){%>
                                    <h4 class="card-title text-muted">Fecha de egreso: <%= patient.dischargedDate.toLocaleDateString('es-US', options)+" a las "+makeHour(patient.dischargedDate) %> </h4>
                                <%}%>
                                <ul class="list-group list-group-flush mb-4">
                                  <%if(patient.payed && (currentUser.role == 'directAdmin')){
                                    if(patient.discharged != true){
                                      console.log('paciente')
                                      console.log(patient)
                                    %>
                                    <li class="list-group-item  border border-danger">Total: $<%=numberCommas(patient.totalReceived)%>. Cobrada por: <%= patient.receivedBy.username%> el  <%= patient.chargedDate.toLocaleDateString('es-US', options)+" a las "+makeHour(patient.chargedDate)%></li>
                                    <%}else{%>
                                      <li class="list-group-item ">Total: $<%=numberCommas(patient.totalReceived)%>. Cobrada por: <%= patient.receivedBy.username%><%= patient.chargedDate.toLocaleDateString('es-US', options)+" a las "+makeHour(patient.chargedDate)%></li>

                                      <%}
                                    }%>
                                    <li class="list-group-item">Telefono: <%= patient.phone%> </li>
                                    <%if(patient.edad){%>
                                        <li class="list-group-item">Edad: <%= patient.edad%> </li>
                                    <%}%>
                                    <div class="pop-up-container my-3"> <li class="list-group-item display-3 font-weight-bold text-center" style="font-family: Helvetica, Arial, sans-serif; color: #4A4A4A; text-transform: uppercase; letter-spacing: 2px;  font-size: 10px" ><%= patient.serviceType%> </li></div>  
                                    <li class="list-group-item">Agregado por:  <%= patient.author.username%></li>
                                    <li class="list-group-item">Medico tratante:  <%= patient.treatingDoctor%></li>
                                    <li class="list-group-item text-muted">Diagnostico: <%= patient.diagnosis%></li>
                                </ul>
                                <%if(!patient.discharged){%>
                                    <a class="btn btn-primary" href="/patients/<%=patient._id%>">Ver cuenta</a>

                                    <%if(currentUser.role == "directAdmin" || currentUser.role == "dinamicAdmin"){%>

                                    <form class="d-inline" action="/patients/<%=patient._id%>?_method=DELETE" method="POST">
                                        <button type="button" class="float-right btn btn-outline-danger mx-1 my-1 btn-sm" data-toggle="modal" data-target="#a<%=patient._id%>">
                                            <i class="fas fa-trash"></i>
                                          </button>
                                          <div class="modal fade" id="a<%=patient._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel">Borrar Paciente</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    Los cambios no son reversibles.
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-edit"></i></button>
                                                  <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                    </form>
                                    <a class="float-right btn btn-outline-secondary mx-1 my-1 btn-sm" href="/patients/<%=patient._id%>/edit"><i class="fas fa-edit"></i></a>

                                <%}}else{%>
                                    <%
                                    const b = patient.admissionDate.toISOString().substr(0,10);
                                    const e = patient.dischargedDate.toISOString().substr(0,10)
                                    %>
                                    <%if(currentUser.role == "directAdmin" || currentUser.role == "dinamicAdmin"){%>
                                    <a href = "/patients/<%=patient._id%>/dischargedPDF">
                                        <button type="button" class="btn btn-outline-secondary">Ver cuenta</button>
                                    </a>

                                      <form class="d-inline" action="/patients/<%=patient._id%>?_method=DELETE" method="POST">
                                          <button type="button" class="float-right btn btn-outline-danger mx-1 my-1 btn-sm" data-toggle="modal" data-target="#a<%=patient._id%>">
                                              <i class="fas fa-trash"></i>
                                            </button>
                                            <div class="modal fade" id="a<%=patient._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Borrar Paciente</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                      Los cambios no son reversibles.
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-edit"></i></button>
                                                    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                      </form>
                                      <%if(patient.discharged){%>
                                        <a class="float-right btn btn-outline-info mx-1 my-1 btn-sm" href="/patients/<%=patient._id%>/activate">Activar</a>

                                        <!-- <div class="col-sm-4"> -->
                                          
                                      <!-- </div>                                       -->
                                      <%}%>
                                      <a class="float-right btn btn-outline-secondary mx-1 my-1 btn-sm" href="/patients/<%=patient._id%>/edit"><i class="fas fa-edit"></i></a>
                                  <%}%>
                                <%}%>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%} }%>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-3 mt-4">
        <label for="beginDate">Fecha y hora de inicio</label>
        <input type="datetime-local" value = '<%=monthBefore.toISOString().slice(0, 16);%>'id="beginDate" class="form-control" >
    </div>
    <div class="col-md-3 mt-4" >
        <label for="endDate">Fecha y hora final</label>
        <input type="datetime-local" value = '<%=now.toISOString().slice(0, 16);%>' id="endDate" class="form-control">
    </div>
      <div class="col d-flex mt-4 flex-column justify-content-between">
        <button type="button" class="float-left btn btn-success btn-sm apply_dates">Aplicar fechas</button>
      </div>
    </div>
</div>

<div class = "container">
    <div class="row my-3 pagination customClass" >
      <div id="pagination" class="btn-group float-right" role="group" aria-label="First group">
        <%if(page >1){%>
          <a alt="<%=page-1%>" class="btn btn-light pagination-button" role="button" aria-pressed="true"><i class="fas fa-arrow-circle-left"></i></a>
        <%}%> 
        <%for(let step = 1; step < pages+1; step++){
          let act = (step == page)?"active":"";
        %>
          <a alt="<%=step%>" class="btn btn-light <%=act%> pagination-button" role="button" aria-pressed="true"><%=step%></a>
        <%}%>
        <%if(page+1 <= pages){%>
          <a alt="<%=page+1%>" class="btn btn-light pagination-button" role="button" aria-pressed="true"><i class="fas fa-arrow-circle-right"></i></a>
        <%}%>
      </div>
    </div>
</div>
<script src="/javascripts/search_in_patients.js" />
<script>


</script>
