<% layout('layouts/boilerplate')%>
<%
function makeDMYHour(date){
  const newDate = {d:date.getUTCDate(), m : date.getUTCMonth()+1,// JavaScript months are 0-11
  y : date.getUTCFullYear(),h:date.getUTCHours(), min:(((""+date.getUTCMinutes()).length>1)?date.getUTCMinutes():"0"+date.getUTCMinutes())};
  return  ((newDate.d.toString().length>1)?newDate.d:"0"+newDate.d)+ "/" + newDate.m+ "/" + newDate.y+ "   "+newDate.h+":"+newDate.min;
}
function getMexicoCityTime() {
    const now = new Date();
    const formatter = new Intl.DateTimeFormat("en-US", {
      hour12: false,
      timeZone: "America/Mexico_City",
      hour: "numeric",
      minute: "numeric",
      second: "numeric",
    });
    const timeStr = formatter.format(now);
    const [hour, minute, second] = timeStr.split(":");
    const mexicoCityTime = new Date();
    mexicoCityTime.setUTCHours(hour);
    mexicoCityTime.setUTCMinutes(minute);
    mexicoCityTime.setUTCSeconds(second);
    return mexicoCityTime;
  }

%>
<div class="row">
    <h1 class="text-center">Crear perfil de paciente</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/patients" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Nombre del paciente</label>
                <input class="form-control" type="text" id="name" name="patient[name]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="admission">Fecha de Ingreso</label></br>
                <input type="datetime-local" id="admission" name="patient[admissionDate]" value = "<%=getMexicoCityTime().toISOString().substring(0, 16)%>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="phone">Telefono</label>
                <input class="form-control" type="number" id="phone" name="patient[phone]" value ='' >
            </div>
            <!-- 
                <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="patient[email]" required>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="address">Dirección</label>
                <input class="form-control" type="text" id="address" name="patient[address]" value = "">
            </div>
            <div class="mb-3">
                <label class="form-label" for="cuarto">Cuarto</label>
                <input class="form-control" type="text" id="cuarto" name="patient[cuarto]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="edad">Edad</label>
                <input class="form-control" type="text" id="edad" name="patient[edad]" value = "">
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="rfc">RFC</label>
                <input class="form-control" type="number" id="rfc" name="patient[rfc]" required>
            </div> -->
            
            <div class="mb-3">
                <label class="form-label" for="description">Diagnóstico</label>
                <textarea class="form-control" type="text" id="description" name="patient[diagnosis]"
                value = ""></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="doctor">Médico Tratante</label>
                <input class="form-control" type="text" id="doctor" name="patient[treatingDoctor]" value = "">
            </div>
            <div class="d-flex justify-content-center align-items-center mb-4 mt-4">
                <select class="btn btn-outline-secondary btn-lg custom-select ml-2" id='department' name="patient[serviceType]" style="max-width: 300px">
                  <option <%= currentUser.serviceType =="Consulta"?'selected':''%>id="consulta" value="Consulta">Consulta</option>
                  <option <%= currentUser.serviceType =="Hospitalizacion" ?'selected':''%>id="hospitalizacion" value="Hospitalizacion">Hospitalizacion</option>
                  <option <%= currentUser.serviceType == "Emergencia" ?'selected':''%>id="emergencia" value="Emergencia">Emergencia</option>
                  <option <%= currentUser.serviceType == "Curacion" ?'selected':''%>id="curacion" value="Curacion">Curacion</option>
                  <option <%= currentUser.serviceType =="Cirugia" ?'selected':''%>id="cirugia" value="Cirugia">Cirugia</option>
                  <option <%= currentUser.serviceType =="Procedimiento Endoscopico" ?'selected':''%>id="uci" value="Procedimiento Endoscopico">Procedimiento Endoscopico</option>
                  <option <%= currentUser.serviceType =='Farmacia'?'selected':''%> id="farmacia" value="Venta de Farmacia">Venta de Farmacia</option>
                </select>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Agregar paciente</button>
            </div>
        </form>
    </div>
</div>