<% layout('layouts/boilerplate')%>
<div class="row mt-3 mb-4">
    <div class="col-2">
        <button id="deleteZero" class="btn btn-danger">Borrar insumos agotados</button>
    </div>
    <div class="col-8">
    </div>
    <div class="col-2">
    </div>
</div>

<div class="container mb-4 mt-4">
    <div class="row offset-sm-2 justify-content-md-center">
        <div class="col col-10">
          <div class="input-group input-group" id="search_group">
            <input class="input-group-text" id="search_val" type="text" name="search" value="<%=search%>" placeholder="Buscar" aria-label="Search">
          </div>
        </div>
        <div class="col col-2 ml-auto">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-success" type="button" id="search-button"><i class="fas fa-search" style="color: white;"></i></button>
          </div>
        </div>
    </div>
</div>


<div class="col-xs-12" style="height:50px;"></div>
<div class="row justify-content-between"><div class = "container  col-2">Reporte de existencias</div></div>

<div class="row justify-content-between mt-4 mb-4">
    <div class = "container  col-4">
        
        <a class="btn btn-info" href="/services/new?service_type=supplies">Crear Insumo Medico</a>
    </div>
    <div class = "contaier col-5">
        <button id="printExistences" type="button" class="btn btn-primary"><i class="fas fa-print"></i>
        </button>
        <button id="genPDf" type="button" class="btn btn-primary"><i class="fas fa-file-pdf"></i>
        </button>
        <div id = "limitExistence" class="number-input mx-3">
            <button class="minusEX"></button>
            <input class="quantityEX" min="0" name="quantity" value="1" type="number">
            <button class="plusEX"></button>
        </div>
        <button id="toggle-button" type="button" class="btn btn-primary">Todo</button>
    </div>
    <!-- <div class = "container  col-3">
        <a class="btn btn-info" href="/services/deleteAA">Borrar perro</a>
    </div> -->
    
    <div class="container col-2">
        <select class="btn btn-outline-success custom-select custom-select-lg mb-3" >
            <option selected value = "name">Ordenar Por:</option>
            <option id= "byExpiration" value="expiration">Caducidad</option>
            <option id= "byStock" value="stock">Existencias</option>
            <option id= "byName" value="name">Nombre</option>
            <option id= "byClass" value="class">Clase</option>
        </select>
    </div>
</div>
<%

//difference in months between two dates
function diff_months(dt2, dt1) 
 {

  var diff =(dt2.getTime() - dt1.getTime()) / 1000;
   diff /= (60 * 60 * 24 * 7 * 4);
  return Math.round(diff);
 }
 //function for selecting the border color based on existence and optimum parameters
function defineBorder(proportion){
    console.log('colors called')
    let border = "";
    if(proportion <= 0.33){
        border = "danger";
    }else if(proportion > 0.33 && proportion < 0.66){
        border = "warning"
    }else{
        border =  "success"
    }
    return border
}
function makeDMY(date){
    const newDate = {d:date.getUTCDate(), m : date.getUTCMonth()+1,// JavaScript months are 0-11
    y : date.getUTCFullYear()};
    return  ((newDate.d.toString().length>1)?newDate.d:"0"+newDate.d)+ "/" + newDate.m+ "/" + newDate.y;
}


 %>

    <!-- //search preview table -->
<div class="row supplies scrollDiv" id="suppliesContent">
    <%for(let supply of supplies){%>
        <!--Create random string for carousel id use-->
        <%let id_name = "a"+Math.random().toString(36).substring(7); %>
    <div class="col-3">
        <div class="card mb-3">
            <div id=<%=id_name%> class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <% supply.images.forEach((img, i) => { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                        <img class="card_img mt-3" src="<%= img.url%>"  alt="">
                    </div>
                    <% }) %>
                </div>
                <% if(supply.images.length > 1) {%>
                <a class="carousel-control-prev " href="#<%=id_name%>" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#<%=id_name%>" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <% } %>
            </div>
            <div class="card-body">
                <div class = "d-inline"><h3 class="card-subtitle "><%= supply.name%> </h3><h6><%= supply.principle%></h6></div>
                <h5 class="card-title text-muted"><%= supply.class%></h5>
            </div>
            <%let 
            stockColor = defineBorder(supply.stock)
            %>
            <%let dateColor = defineBorder(diff_months(new Date(supply.expiration) , new Date())/12) %>
            
            <ul class="list-group list-group-flush">
                <% const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };%>
                <div class="clearfix split-items">
                    <li class="list-group-item left-side">Existencias:<br><span class = "border border-<%=stockColor%> stock rounded-circle px-3 py-2 d-inline-block "> <%= supply.stock%> </span></li>

                    <%if(supply.outside){%>
                        <li class="list-group-item right-side">En Bodega:<br>   <%= supply.stock - supply.outside%></li>
                    <%}%>
                </div>
                <li class="list-group-item" id = "serviceID" alt = "<%=supply._id%>"></li>
                <li class="list-group-item">Proveedor: <%= supply.supplier%></li>
                <li class=" d-flex justify-content-center align-items-center">Agregar a existencias</li>

                <li class="list-group-item d-flex justify-content-center align-items-center"> 
                    <div class="number-input mx-2">
                      <button class="minus2"></button>
                      <input class="quantity updateDiscount" min="0" name="quantity" value="0" type="number">
                      <button class="plus2"></button>
                    </div>      
                    <button class="btn btn-sm btn-discount-inactive btn-secondary discount-button  mx-2 addToStock" >
                      <i class="fas fa-cog submitDiscount"></i>
                    </button>
                  </li>
                <div class="clearfix split-items">
                    <li class="list-group-item left-side">Compra: $<%= supply.buy_price%> /cu</li>
                    <li class="list-group-item right-side ">Venta: $<%= supply.sell_price%> /cu</li>
                </div>
            </ul>
            <%if(currentUser.role == "directAdmin" || currentUser.role == "dinamicAdmin"){%>
                <div class="d-flex justify-content-around mx-1 my-1">
                    <a class="card-link btn btn-info" href="/services/<%=supply._id%>/edit?service_type=supply"><i class="fas fa-edit"></i></a>
                    <a class="card-link btn btn-secondary" href="/services/<%=supply._id%>/supply"><i class="fas fa-copy"></i></a>
                    <form class="d-inline" action="/services/<%=supply._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
        <% } %>
        
</div>
<div class = "container">
    <div class="row my-3 pagination customClass" >
        <div class="btn-group float-right" role="group" aria-label="First group">
            <%if(page >1){%>
                <a data-page="<%=page - 1%>" class="btn btn-light pagination-button-normal" role="button" aria-pressed="true"><i class="fas fa-arrow-circle-left"></i></a>
            <%}%>
            <%for(let step = 1; step < pages+1; step++) {
                let act = (step == page)?"active":"";%>
                <a data-page="<%=step%>"" class="btn btn-light pagination-button-normal <%=act%>" role="button" aria-pressed="true"><%=step%></a>
            <%}%>
            <%if(page+1 <= pages){%>
                <a data-page="<%=page - 1%>" class="btn btn-light pagination-button-normal" role="button" aria-pressed="true"><i class="fas fa-arrow-circle-left"></i></a>
            <%}%>
        </div>
    </div>
</div>

<script src="/javascripts/search_in_supplies.js" ></script>


